src/main/mule/getLeadById.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getLeadByIdFlow" doc:id="f430a28a-d309-4b98-9241-6627fff99fa8" >
		<logger level="INFO" doc:name="Start getLeadByIdFlow" doc:id="c2504468-64c7-4d1d-83dc-1d55e8fc1ece" message="Start getLeadByIdFlow"/>
		<ee:transform doc:name="Set Query" doc:id="9d7bc25c-f908-4dba-95d5-1b43acd759b5" >
			<ee:message >
				<ee:set-payload ><![CDATA["SELECT Id, Name FROM Lead WHERE ID = '" ++ vars.id ++ "'" ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<until-successful maxRetries="${until.successful.maxretries}" doc:name="Until Successful" doc:id="5b0ca42f-6a8c-419e-a89c-b703f5e3fb54" millisBetweenRetries="${until.successful.timebetween}">
			<try doc:name="Try" doc:id="907253ab-40cd-457c-bb37-46a12a26a6b9" >
				<salesforce:query doc:name="Lead By ID" doc:id="4c2ac04d-cdc5-4775-9e44-e07eaaf9b6b7" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[#[payload]]]></salesforce:salesforce-query>
		</salesforce:query>
				<error-handler >
					<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e7982026-62ad-4584-8074-4f7055ec3769" >
						<ee:transform doc:name="Set Error" doc:id="090df560-88be-4f70-9db2-498dd7ab66b1" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</on-error-propagate>
				</error-handler>
			</try>
		</until-successful>
		<ee:transform doc:name="Set Response" doc:id="a5e7e39c-e97a-4025-a6c3-8b4facce2465" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End getLeadByIdFlow" doc:id="745c4d28-4a43-4b34-861a-09aec56ab309" message="End getLeadByIdFlow"/>
	</flow>
</mule>
